/* You can add global styles to this file, and also import other style files */

@import '@angular/cdk/overlay-prebuilt.css';

:root{
    --screen: #131314;
    --sidebar: #1E1F20;
    --hover : #282A2C;
    --card : #1E1F20;
    --font : #E3E3D8;
    --active:#007ACC;
    --overlay:#1E1F20;
}

@font-face {
    font-family: 'MyFont';
    src: url('../src/assets/fonts/NotoSans-VariableFont_wdth\,wght.ttf');
  }
html, body { height: 100%; }
body { margin: 0;padding: 0; font-family: 'MyFont';background-color: var(--screen); }
