<div class="main-container">
    <div class="header-content">
        <h1>Order By clause</h1>
    </div>
    <div class="main-content">
        <div class="dynamic-content" [ngClass]="{'disabled': !isEditable}" > 
            <div class="column-selection option">
                <mat-form-field>
                    <mat-label>Select Column for Order by</mat-label>
                    <mat-select [(value)]="selectedColumn">
                        @for (column of columns; track column) {
                        <mat-option [value]="column">{{column}}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
            </div>
            
        </div>
        <div class="confirm-buttons">
            <button mat-icon-button class="undo" matTooltip="Revert changes" matTooltipPosition="left"
            matTooltipClass="custom-tooltip" [disabled]="!isChecked" (click)="reset()">
                <i class="material-icons">undo</i>
            </button> 
            <button mat-icon-button class="check" [disabled]="!selectedColumn" (click)="getQuery()">
                <i class="material-icons">check</i>
            </button>
              
        </div>
    </div>

    <div class="navigate-buttons" [ngClass]="{'disabled':!isChecked}">
        <div class="runQuery button">Preview</div>
    </div>

</div>
