.screen{
    display: grid;
    grid-template-columns: 2.0fr 8.0fr;
    font-family: "MyFont";
}

h1,h2,h3,h4{
    margin: 0;
    padding: 0;
}

.main-screen{
    height: 100%;
    background-color: var(--screen);
}

.main-screen header{
    height: 10%;
    background-color: var(--screen);
}

.flex-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logoname{
    color: var(--font);
    margin: 1rem;
    font-size: 1.3rem;
}

.userlogo i{
    border-radius: 50%;
    margin: 1rem;
    padding: 0.5rem;
    font-size: 1.5rem;
    color: var(--font);
    background-color: #C2185B;
    cursor: pointer;
}

.sidebar{
    background-color:var(--sidebar);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar button{
    color: var(--font);
    background-color: var(--sidebar);
    border: 1px solid var(--sidebar);
    border-radius: 50%;
    margin: 0.5rem;
    padding: 0.9rem;
    font-size: 0.1rem;
}

.text{
    font-size: 1rem;
    margin-left: 1rem;
}
.sidebar button:hover{
    background-color:var(--hover);
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
}

.sidebar .buttondb{
    color: var(--font);
    display: flex;
    flex-direction: row;
    background-color: var(--screen);
    padding: 0.8rem;
    margin: 1rem;
    border-radius: 80px;
    justify-content: space-between;
    width: max-content;
    cursor: pointer;
}



.sidebar .buttondb:hover{
    background-color: var(--hover);
    color:white;
}



.databases .text{
    color: white;
    margin-bottom: 0;
    margin-left: 1.7rem;
    font-weight: 500;
}

.list-group{
    margin: 1rem;
}


.list-group-item {
    padding: 0;
    background-color: var(--sidebar);
    border: none;
    color: var(--font);
    cursor: pointer;
}

.list-group-item .front{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0.9rem;
    background-color: var(--sidebar);
    
}

.front .storage{
    margin-right: 1rem;
    font-size: 1.2rem;
    color: white;
}

.front .dbname{
    font-size: 1rem;
}

.front:hover{
    background-color: var(--hover);
    border-radius: 2rem;
}

.custom-tooltip{
    padding: 1rem;
    text-transform: uppercase;
}

.list-group-item .selected{
    background-color: var(--active);
    border-radius: 2rem;
}



.table-front{
    display: flex;
    flex-direction: row;
    /* background-color: red; */
    padding: 1rem;
    
}

.table-front .table_chart{
    color: var(--font);
    opacity: 0.8;
    font-size: 1.2rem;
}

.table-front .tableName{
    margin-left: 1rem;
}


.tables .list-group-item{
    background-color: var(--hover);
    padding-top: 0.7rem;
    padding-right: 0.5rem;
    margin-top: -0.7rem;
}

.table-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* padding: 0.7rem 0.5rem 0 0; */
    margin-top: -1rem;
    border-radius: 2rem;
}

.columns{
    background-color: black;
   
}

.columns .list-group{
    background-color:black ;
}

.saveQuery
{
    align-items: flex-end   ;
}

 .dynamic-screen{
    /* background-color: #C2185B; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
    height: 90vh;
} 
