.screen{
    display: grid;
    grid-template-columns: 1.7fr 8.3fr;
}

.main-screen{
    height: 100%;
    background-color: var(--screen);
}

.main-screen header{
    height: 10%;
    background-color: var(--screen);
}

.flex-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logoname{
    color: var(--font);
    margin: 1rem;
    font-size: 1.3rem;
}

.userlogo i{
    border-radius: 50%;
    margin: 1rem;
    padding: 0.5rem;
    font-size: 1.5rem;
    color: var(--font);
    background-color: #C2185B;
    cursor: pointer;
}

.sidebar{
    background-color:var(--sidebar);
    height: 100vh;
}

.sidebar button{
    color: var(--font);
    background-color: var(--sidebar);
    border: 1px solid var(--sidebar);
    border-radius: 50%;
    margin: 0.5rem;
    padding: 0.9rem;
    font-size: 0.1rem;
}

.sidebar button:hover{
    background-color:var(--hover);
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
}

.sidebar .buttondb{
    color: var(--font);
    display: flex;
    flex-direction: row;
    background-color: var(--screen);
    padding: 0.8rem;
    margin: 1rem;
    border-radius: 80px;
    justify-content: space-between;
    width: max-content;
    cursor: pointer;
}


.buttondb .text{
    font-size: 1rem;
    margin-left: 1rem;
}

.sidebar .buttondb:hover{
    background-color: var(--hover);
    color:white;
}

.list-group{
    margin: 1rem;
}


.list-group-item {
    padding: 1rem;
    margin-bottom: 1rem;
    border-color: rgb(27, 26, 26) rgb(27, 26, 26) rgb(35, 32, 32) rgb(27, 26, 26);
    background-color: rgb(27, 26, 26);
    color: white;
    cursor: pointer;
}

.dropdown-content {
    min-width: max-content;
    overflow: hidden;
    max-height: 0;
    transition: max-height 1s;
}  

.dropdown:hover .dropdown-content{
    max-height: 200px;
}

/* 
.table-section{
    transition: all 500ms ease-in-out;
    display: none;
} */


.expandIcon:hover{
    background-color: rgb(35, 32, 32);
    border-radius: 50%;
}

.visible{
    background-color: red;
    transition: all 1s ease-in-out;
}



/* .list-group-item:hover{
    background-color: rgb(35, 32, 32);
    border-radius: 100px;
    transition: all .3s ease-in-out;
} */

