.main-container {
    height: 85vh;
    width: 80vw;
    color: var(--font);
    font-family: "MyFont";
}

h1,
h2,
h3,
h4 {
    padding: 0;
    margin: 0;
    font-family: "MyFont";
}

.header-content {
    height: 8vh;
    background-color: var(--card);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.7rem 0.7rem 0rem 0.7rem;
    border-radius: 1rem;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0.7rem 0.7rem 0rem 0.7rem;
    height: 64vh;
    width: 78.5vw;
    background-color: var(--card);
    border-radius: 1rem;
}

.main-content .dynamic-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    padding: 5rem;
    overflow-y: hidden;
    overflow-x: scroll;
    height: 85%;
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}

.confirm-buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 15%;
}

.confirm-buttons .div{
    display: flex;
    justify-content: flex-end;
}

.confirm-buttons .button{
    font-family: "MyFont";
    padding: 1rem;
    margin: 1rem;
    background-color: var(--active);
    font-size: 1.1rem;
    font-weight: 600;
    border-radius: 2rem;
    cursor: pointer;
    opacity: 0.9;
}

.confirm-buttons .div button {
    margin-right: 1rem;
    padding: 0.5rem;
    font-size: 2rem;
}

.confirm-buttons .button:hover{
    opacity: 1;
    transition: 0.5s;
    color: white;
}

.confirm-buttons .check {
    background-color: green;
}

.confirm-buttons .undo {
    background-color: rgba(0, 0, 0, 0.15);
}

mat-checkbox {
    display: flex;
    justify-content: flex-start;
    padding: 0.3rem;
    width: fit-content;
}


.column-selection {
    background-color: rgba(0, 0, 0, 0.15);
    padding: 1rem;
    width: 20rem;
    border-radius: 1rem;
}

.column-selection h3 {
    border-bottom: 1px solid grey;
    padding-bottom: 0.7rem;
}

.checkbox-list {
    height: 11rem;
    overflow-y: scroll;
}

.option {
    margin-right: 2rem;
}

.agg-selection {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 1rem;
    max-height: 15.5rem;
    min-width: fit-content;
    overflow-y: scroll;
    overflow-x: hidden;
}

.agg-selection .div {
    margin-right: 1rem;
    padding: 1rem;
}


.add-remove-slot {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 2rem;
}

.add-remove-slot:hover {
    transform: scale(1);
}

.add-remove-slot mat-icon:hover {
    background-color: grey;
    color: white;
    border-radius: 50%;
    transition: 0.5s;
}

.navigate-buttons {
    height: 12vh;
    background-color: var(--card);
    margin: 0.7rem 0.7rem 0rem 0.7rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navigate-buttons .button {
    font-family: "MyFont";
    padding: 1rem;
    margin: 1rem;
    background-color: var(--active);
    font-size: 1.1rem;
    font-weight: 600;
    border-radius: 2rem;
    cursor: pointer;
    opacity: 0.9;
}

.navigate-buttons .button:hover {
    opacity: 1;
    transition: 0.5s;
    color: white;
}

.next-options {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.next-options .divider {
    background-color: var(--hover);
    height: 3rem;
    width: 0.1rem;
}

.next-options .options {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.next-options .options .list {
    background-color: rgba(0, 0, 0, 0.15);
    font-family: "MyFont";
    padding: 1rem;
    margin: 1rem;
    font-size: 1.1rem;
    font-weight: 500;
    border-radius: 2rem;
    cursor: pointer;
}

.next-options .options .list:hover {
    background-color: var(--active);
    transition: 0.5s;
}